# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Ignore all broadcast directories except the root one. its important to leave your broadcast and lib out from bein pushed to your github
# This is useful for keeping your local broadcast and lib directories private.

broadcast/  
lib/

